$theme: rgba(204, 0, 255, 1);

$theme_o_1: rgba(204, 0, 255, .1);
$theme_o_2: rgba(204, 0, 255, .2);
$theme_o_3: rgba(204, 0, 255, .3);
$theme_o_4: rgba(204, 0, 255, .4);
$theme_o_5: rgba(204, 0, 255, .5);
$theme_o_6: rgba(204, 0, 255, .6);
$theme_o_7: rgba(204, 0, 255, .7);
$theme_o_8: rgba(204, 0, 255, .8);
$theme_o_9: rgba(204, 0, 255, .9);